body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

footer{
    padding-left: 10px;
    margin-top: -60px;
}

footer article{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px; 
    vertical-align: top;  
    width: 16%;
}

h1{
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 20px;
}

header{
    margin-left: 10px;
}

header article{
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
}

header nav{
    margin-top: 30px;
    margin-left: -35px;
}

header nav ul li{
    display: inline-block;
    font-size: 1.2em;
    margin-right: 20px;
}

hr{
    color: #949494;
}

section{
    margin-left: 10px;
}

section article{
    display: inline-block;
    vertical-align: top;
}

section article:nth-child(1){
    width: 55%;
}

section article:nth-child(1) img{
    margin-right: 20px;
    margin-top: 20px;
    width: 46%;
}

section article:nth-child(2){
    text-align: right;
    width: 42%;
}

#bike{
    width: 420px;
}

#buy{
    left: 620px;
    position: relative;
    top: -70px;
}

#go_to_shop{
    left: 600px;
    position: relative;
    top: -130px;
}

#imgYears{
    left: -265px;
    position: relative;
    top: -120px;
    width: 40%;
}

#last_article{
    width: 22%;
}

#linea1{
    margin-top: -50px;
}

.color-verde{
    color: lime;
}

.letra-gris{
    color: gray;
}

.linea-punteada{
    border-style: dashed;
}

.nito{
    font-weight: bold;
}

.tam-med{
    font-size: 1.2em;
}body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

footer{
    padding-left: 10px;
    margin-top: -60px;
}

footer article{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px; 
    vertical-align: top;  
    width: 16%;
}

h1{
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 20px;
}

header{
    margin-left: 10px;
}

header article{
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
}

header nav{
    margin-top: 30px;
    margin-left: -35px;
}

header nav ul li{
    display: inline-block;
    font-size: 1.2em;
    margin-right: 20px;
}

hr{
    color: #949494;
}

section{
    margin-left: 10px;
}

section article{
    display: inline-block;
    vertical-align: top;
}

section article:nth-child(1){
    width: 55%;
}

section article:nth-child(1) img{
    margin-right: 20px;
    margin-top: 20px;
    width: 46%;
}

section article:nth-child(2){
    text-align: right;
    width: 42%;
}

#bike{
    width: 420px;
}

#buy{
    left: 620px;
    position: relative;
    top: -70px;
}

#go_to_shop{
    left: 600px;
    position: relative;
    top: -130px;
}

#imgYears{
    left: -265px;
    position: relative;
    top: -120px;
    width: 40%;
}

#last_article{
    width: 22%;
}

#linea1{
    margin-top: -50px;
}

.color-verde{
    color: lime;
}

.letra-gris{
    color: gray;
}

.linea-punteada{
    border-style: dashed;
}

.nito{
    font-weight: bold;
}

.tam-med{
    font-size: 1.2em;
}
