    body{
        font-size: 16px;
        margin: 0px auto;
        max-width: 1024px;
    }

    footer article{
        display: inline-block;
        margin-top: 20px;
        padding: 10px;
        vertical-align: top;
        width: 31.1%;
    }

    footer img{
        width: 300px;
    }

    header nav{
        margin-left: -40px;
    }

    header ul li{
        /* color: white; */
        display: inline-block;
        margin-right: -10px;
        padding: 8px 14px;
        text-align: center;
        width: 17.1%;
    }

    header ul li:nth-child(2){
        background: var(--color-verde);
    }

    header ul li:nth-child(3){
        background: var(--color-negro);
    }

    header ul li:nth-child(4){
        background: var(--color-rojo);
    }

    header ul li:nth-child(5){
        background: var(--color-gris);
        /* color: gray; */
    }

    hr{
        border-style: dashed;
        color: var(--color-linea);
    }

    html{
        /* Propiedades personalizables */
        --color-azul: lightblue;
        --color-blanco: white;
        --color-gris: lightgray;
        --color-linea: #949494;
        --color-negro: #353535;
        --color-rojo: #D33040;
        --color-verde: #849C3C; /*Custom property*/
        --fondo-negro: #2C2C2C;
    }

    section, footer{
        background: var(--fondo-negro);
    }

    section article{
        display: inline-block;
        height: 280px;
        margin-right: -10px;
        padding: 18px 8px;
        vertical-align: top;
        width: 18.3%;
    }

    section article ul{
        list-style: none;
    }

    section article:nth-child(2){
        background: var(--color-verde);
    }

    section article:nth-child(3){
        background: var(--color-negro);
    }

    section article:nth-child(4){
        background: var(--color-rojo);
    }

    section article:nth-child(5){
        background: var(--color-gris);
    }

    section img{
        width: 150px;
    }

    .letra-azul{
        color: var(--color-azul);
    }

    .letra-blanca{
        color: var(--color-blanco);
    }

    .letra-gris{
        color: var(--color-linea);
    }

    .letra-negra{
        color: var(--color-negro);
    }

    .read-more{
        /* border: 1px solid red; */
        margin-left: 220px;
    }

    .tam-menu-lateral{
        font-size: 1.1em;
    }

    .tam-tarjetas{
        font-size: 1.7em;
    }
